.background {
  background-color: #94b49f;
}

body {
  font-family: Baskerville, "Baskerville Old Face", Goudy Old Style", "Garamond", "Times New Roman", serif;  
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}

p {
  font-size: larger;
}

li {
  font-size: larger;
}

a {
  color: #ff9900ed;
}
.container-padding {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.border-box {
  margin: 1px;
  border: 10px solid #76549a;
  padding: 10px;
  background-color: #df7861;
  box-sizing: border-box;
}

.centered-image {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
}

.main {
  width: 40%;
  height: auto;
}

.sidebar {
  width: 50%;
  float: right;
  background-color: #afc1b5;
  padding: 10px;
}

.sidebar a {
  color: #ad6a06ed;
}

.bigger {
  font-size: larger;
}

.important {
  color:#ccafeb;
}