body {
  font-family: Baskerville, "Baskerville Old Face", Goudy Old Style", "Garamond", "Times New Roman", serif;  
}

.background {
  background-color: #94b49f;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  font-size: larger;
}

.border-box {
  margin: 1px;
  border: 10px solid #76549a;
  padding: 10px;
  background-color: #df7861;
  box-sizing: border-box;
}

.center {
  margin: auto;
  width: 45%;
  }

.centered-image {
  margin: auto;
  width: 40%;
  height: auto;
  display: block;
}

.main {
  width: 40%;
  height: auto;
  float: left;
}

.sidebar {
  width: 50%;
  float: right;
  background-color: #94b49f;
}

.bigger {
  font-size: larger;
}

.important {
  color:#ccafeb;
}